#prompt_cursor{
    float: left;
}

#prompt{
    margin-top: 80px;
    max-width: 500px;
    min-width: 500px;
    background-color: black;
    min-height: 300;
    color: lightgray;
    border-radius: 10px;
    padding: 20px;
}

input{
    background-color: black;
    color: lightgray;
    border-top: none;
    border-bottom: 2px inset lightgray;
    border-right: none;
    border-left: none;
}

body{
    background-color:lightgray;
}

.center-outer{
       float: left;
       position: relative;
       left: 50%;
}

.center-inner{
         float: left;
       position: relative;
       left: -50%;
}

#sub-title, #blurb{
    text-align: center;
    padding-top: 15px;
}